body {
    font-family: 'Roboto', sans-serif;
    margin:0;
    padding: 0;
    background-color: #161616;
    color: white;
    scroll-behavior:smooth;
    position: relative;
    overflow: hidden;
    min-width: 100%;
    min-height: 100vh;
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
nav{
    background: #161616;
    width: 100%;
    height: 9vh;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition:all 0.5s ease;
    
}
nav h1{
    margin: 0 20px;
    font-size: 2em;
    font-family: 'Pacifico','cursive';
    font-weight: 100;

}
nav ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    width: 30%;
    margin: 20px;

}
nav ul li{
    padding:5px 10px;
    transition: all 0.3s ease;
    color: rgb(150, 150, 150);
    opacity: 0;
}
nav ul li a{
    color: inherit;
    text-decoration: none;
    font-family: inherit;
}
nav ul li:hover{
    color: white;
}
.nav-active{
    color: white;
    text-shadow: 0 0 5px white;
}
nav .login-container{
    padding-bottom:5px;
}
nav .login{
    border: 1px solid white;
    background-color: white;
    color: black;
    border-radius: 5px;
    position: relative;
    min-width: 80px;
    text-align: center;
    padding: 3px 2px;
}
nav .login:hover{
    box-shadow: 0 0 15px white;
    color: black;
}
.login ul{
    position: absolute;
    top:calc( 100% - 3px );
    left:0px;
    /* transform: translateX(-50%); */
    display: flex;
    flex-direction: column;
    /* min-width: 90px; */
    width: 100%;
    text-align: center;
    align-items: center;
    margin:0;
    font-size:15px ;
    pointer-events: none;
} 
.login ul li{
    text-align: center;
    width: 100%;
    padding: 10px 0;
    background-color: white;
    color:black;
    transform:translateX(20px);
    transition: all 0.3s ease;
    opacity: 0;
    pointer-events: none;
    cursor: pointer;
}
.login ul li:hover{
    background-color: rgb(228, 225, 225);
    color: black;
}
.login ul li.login-drop{
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    transform: translateX(-20px);
}
.login a + ul{
    pointer-events: none;
}

.login-container:hover>.login a + ul>li, .login-container ul:hover>li{
    transform: translateX(0);
    opacity: 1;
    pointer-events: all;
}

.hamburger{
    height: 2.2vh;
    /* margin:2.4vh 10px; */
    position: absolute;
    top:2.4vh;
    right:10px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}
.hamburger .line1{
    width: 23px;
    height: 2px;
    background-color: white;
    border-radius: 30%;
    transition: all 0.5s ease;
}
.hamburger .line2{
    width: 15px;
    height: 2px;
    background-color: white;
    border-radius: 30%;
    transition: all 0.5s ease;
}
.hamburger .line3{
    width: 10px;
    height: 2px;
    background-color: white;
    border-radius: 30%;
    transition: all 0.5s ease;
}
.ham-active.hamburger .line1{
    transform:translate(0px,1vh) rotateZ(45deg);
    width: 23px;
    background-color: black;
}
.ham-active.hamburger .line2{
    opacity: 0;
}
.ham-active.hamburger .line3{
    width: 23px;
    transform:translate(0px,-1vh) rotateZ(-45deg) ;
    background-color: black;
}
.search-container{
    position: absolute;
    top:13vh;
    height:40px;
    width:275px;
    right:15%;
    border: 1px solid grey;
    border-radius: 7px;
    overflow: hidden;
    display: flex;
    z-index:3;
}
.search-container .search-icon{
    width:15%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    text-align: center;
    vertical-align: 40px;
    color: white;
    mix-blend-mode: difference;
    font-size: 1em;
}
.search-container input{
    height: 100%;
    width:85%;
    font-size: 23px;
    font-weight: 100;
    font-family: 'Poppins',sans-serif;
    border: none;
    outline: none;
    background: none;
    color: black;
}
.search-container input::placeholder{
    color: white;
    mix-blend-mode: difference;
    padding-left: 5px;
}
.search-container span{
    width:0;
    height: 0;
    display: block;
    background-color: white;
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    transform: translate(-50%,-50%);
}
.copied{
    position: fixed;
    top:0vh;
    left:50%;
    transform: translate(-50%,0);
    background-color: white;
    color: black;
    box-shadow: 0px 0px 5px white;
    padding:3px 7px;
    font-family: 'Poppins',sans-serif;
    border-radius: 5px;
    font-size: 12px;
    z-index: 50;
}
@keyframes copyIn{
    0%{
        transform: translate(-50%,0);
        opacity: 1;
    }
    15%{
        transform: translate(-50%,12vh);
        opacity: 1;
    }
    80%{
        transform: translate(-50%,12vh);
        opacity: 1;
    }
    85%{
        opacity: 0;
    }
    100%{
        transform: translate(-50%,0);
        opacity: 0;
    }
}
@keyframes searchBack{
    0%{
        height: 0;
        width: 0;
        
        z-index: -1;
    }
    100%{
        height:600px;
        width:600px;
        z-index: -1;
    
    }
}
@keyframes urlHide{
    to{
        height:0px;
        opacity:0;
    }
}
@keyframes urlShow{
    from{
        opacity: 0;
        height: 0px;
    }
    to{
        opacity:1;
        height: 50px;
    }
}
.modal{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    z-index: 99 ;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.searchModal{
    position: fixed;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    z-index: 2 ;
    display:none;
}
.modal-active{
    opacity: 1;
    pointer-events: all;
}
.allurl-container{
    width: 70%;
    margin: 20px 15%;
    top: 15vh;
    position: absolute;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
.url-container{
    width:100%;
    height: 50px;
    margin: 30px 0px;
    background-color: white;
    /* opacity: 0.9; */
    border-radius: 7px;
    box-shadow: 0px 0px 5px white;
    color:black;
    font-size: 1.3em;
    overflow: hidden;
    transition: all 0.5s ease;
}
i{
    font-size: 1.5em;
}
.url-upper i{
    transform: rotateZ(45deg);
    transition: all 0.5s ease;
}
.url-upper , .url-lower{
    position: relative;
    display: flex;
    padding: 9px 20px;
    justify-content: space-between;
    align-items: center;
}
.url-lower{
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: all 0.5s ease 0.2s;
}
.url-active.url-container{
    height: 100px;
}
.url-active .url-upper i{
    transform: rotateZ(0);
}
.url-active .url-lower{
    opacity: 1;
    pointer-events: all;
    transform: translateY(0);
}
.url-container span{
    height: 100%;
    max-width: 70%;
}
.clicks{
    width:50px;
    height: 100%;
    position: relative;
}
::-webkit-scrollbar{
    width: 0px;
    background: transparent;
}
.clicks span{
    width:100%;
    display: block;
    text-align: center;
}
.clicks .clicks-head{
    font-size: 10px;
    position: absolute;
    top:-10px;
    left:0;
    text-align: start;
    display: inline;
    width:50px;
    

}
.new-url,.old-url{
    white-space: nowrap;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.url-container .old-url{
    max-width: 90%;
}
.new-url{
    font-size: 15px;
}
.btn-login{
    margin:15px auto;
    padding:5px 10px;
    display: inline-block;
    border:1px solid white;
    background-color: #161616;
    font-size: 30px;
    color: white;
    font-family: 'Quicksand','sans-serif';
    font-weight: 100;
    font-size: 1.7em;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}
.btn-login:hover{
    box-shadow: 0 0 20px white;
    background-color:white ;
    color: #161616;
    outline: none;
}
img{
    margin: auto;
    height: 60vh;
}
@keyframes startLink{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes slideLink{
    from{
        opacity: 0;
        transform: translate(0,-5px);
    }
    to{
        opacity: 1;
        transform: translate(0);
    }
}
@media screen and (max-width:700px){
    nav{
        overflow: hidden;
    }
    nav h1{
        position: absolute;
        top: 0;
        left:20px;
    }
    .hamburger{
        display: flex;
    }
    nav ul{
        position: absolute;
        right: 0;
        top: 9vh;
        margin: 0;
        flex-direction: column;
        width:100%;
        height: 40vh;
        /* background-color:white; */
        color: black;
        align-items: center;
        transition: all 0.5s ease;
    }
    nav ul li{
        opacity: 0;
        transform: translate(5px);
        padding:5px 10px;
        transition: all 0.3s ease;
        color: black;
        border-radius: 5px;
    }
    nav ul li:hover{
        color: black;
    }
    .nav-active{
        color: black;
        border:1px solid black;
        text-shadow: none;
    }
    .nv-active{
        height: 49vh;
        color: black;
        background-color: white;
        border-bottom-right-radius: 10%;
        border-bottom-left-radius: 10%;
    }
    .nv-active-login{
        height: 55vh;
        border-bottom-right-radius: 0%;
        border-bottom-left-radius: 0%;
    }
    nav .login{
        border: 1px solid white;
        background-color: black;
        color: white !important;
    }
    nav .login:hover{
        box-shadow: 0 0 10px white;
        color: black;
    }
    nav .login ul{
        height: 6vh;
        position: absolute;
        margin-top:4.1vh ;
        left:-webkit-calc(-50vw + 50%);
        left:-moz-calc(-50vw + 50%);
        left:calc(-50vw + 50%);
        width: 100vw;
        background-color: rgb(30, 30, 30);
        flex-direction: row;
    }
    nav .login ul li{
        background-color: transparent;
        color: white;
    }
    .login a + ul{
        pointer-events: all;
    }
    .login ul{
        pointer-events: all;
    }
    .allurl-container{
        width: 90%;
        margin-right:5% ;
        margin-left:5% ;
    }
    img{
        height: 30vh;
    }
    .search-container{
        width:90%;
        right:5%;
    }
    @keyframes searchBack{
        0%{
            height: 0;
            width: 0;
            z-index: -1;
        }
        100%{
            height:180vw;
            width:180vw;
            z-index: -1;
        
        }
    }

}
@media screen and (max-width: 500px){
    .old-url{
        font-size: 15px;
    }
    .new-url{
        font-size: 13px;
    }
}