body {
    font-family: 'Roboto', sans-serif;
    margin:0;
    padding: 0;
    background-color: #161616;
    color: white;
    scroll-behavior:smooth;
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
nav{
    background: #161616;
    width: 100%;
    height: 9vh;
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 100;
}
nav h1{
    margin: 0 20px;
    font-size: 2em;
    font-family: 'Pacifico','cursive';
    font-weight: 100;

}
nav ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    width: 30%;
    margin: 20px;

}
section{
    height: 100vh;
    position: relative;
}
#fp-nav ul li a span, .fp-slidesNav ul li a span {
    background: white;
}
#fp-nav ul li a.active span, #fp-nav ul li:hover a.active span, .fp-slidesNav ul li a.active span, a.active span {
    box-shadow: 0 0 10px white;
}
.cranes {
    width: 52em;
    height: 50em;
    font-size: 7px;
    color: white;
    position:absolute;
    top:50%;
    right:10%;
    transform: translate(0,-50%);
}

.cranes span {
    border-left: calc(var(--left) * 1em) solid transparent;
    border-right: calc(var(--right) * 1em) solid transparent;
    border-bottom: calc(var(--bottom) * 1em) solid;
    position: absolute;
    transform: rotate(calc(var(--rotation) * 1deg));
    left: calc(var(--x) * 1em);
    top: calc(var(--y) * 1em);
    filter: opacity(0.6);
    
}

/* .cranes:hover span {
    animation: appear 1s ease-in;
} */

/* @keyframes appear {
    from {
        border-left: 3em solid transparent;
        border-right: 3em solid transparent;
        border-bottom: 3em solid;
        position: absolute;
        transform: rotate(0deg);
        left: calc((52em - 3em) / 2);
        top: calc((50em - 3em) / 2);
    }
} */
@keyframes wingMove{
    from{

    }
}
.head {
    --left: 13;
    --right: 6;
    --bottom: 2;    
    --x: 0;
    --y: 21;
    --rotation: -5;
}

.neck {
    --left: 6;
    --right: 6;
    --bottom: 12;
    --x: 14;
    --y: 19;
    --rotation: 75;
}

.side {
    --left: 1.5;
    --right: 11.5;
    --bottom: 20;
    --x: 18.8;
    --y: 15.1;
    --rotation: 20;
}

.wing {
    --left: 18.7;
    --right: 30;
    --bottom: 8;
    --x: 6.7;
    --y: 9.2;
    --rotation: -41.9;
}

.tail {
    --left: 18.6;
    --right: 7.7;
    --bottom: 3.9;
    --x: 19.6;
    --y: 38.1;
    --rotation: -126.5;
}

.belly {
    --left: 6.2;
    --right: 1.8;
    --bottom: 11.5;
    --x: 17.5;
    --y: 27.8;
    --rotation: -99;
}

#home h1{
    position: relative;
    margin-left:10% ;
    padding-top:10% ;
}

#home h1 span{
    display: block;
    line-height: 1.5;
    font-family: 'Quicksand','sans-serif';
    font-weight: 100;
    font-size: 1.2em;
}

#home button{
    margin:30px 0;
    padding:10px;
    width: 220px;
    border:1px solid white;
    background-color: #161616;
    font-size: 30px;
    color: white;
    font-family: 'Quicksand','sans-serif';
    font-weight: 100;
    font-size: 1.7em;
    transition: all 0.3s ease-in-out;
}

#home button:hover{
    box-shadow: 0 0 20px white;
    background-color:white ;
    color: #161616;
    outline: none;
}


.paper-container{
    width:500px;
    height: 400px;
    margin:12vh auto;
    position: relative;
}
.paper{
    width: 100%;
    height: 100%;
    position: relative;
}
.paper-upper{
    width:100%;
    height: 50%;
    position: absolute;
    top:0;
    left:0;
    transition: all 0.7s ease,top 0.6s ease;
    transform-style: preserve-3d;
    z-index: 20;
    box-shadow: 0 0 7px white;
}
.paper-upper-front{
    width:100%;
    height: 100%;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.9);
    transition: all 0.7s ease;
    transform-style: preserve-3d;
    border-bottom: none;
    backface-visibility: hidden;
    transition: box-shadow 0.3s ease-in-out;
}
.paper-upper-back{
    width:100%;
    height: 100%;
    position: absolute;
    transform: rotateY(180deg);
    background-color:rgba(255, 255, 255, 0.9);
    transition: transform 0.7s ease;
    transform-style: preserve-3d;
    border-bottom: none;
    backface-visibility: hidden;
    transition: box-shadow 0.3s ease-in-out;

}
.paper-lower{
    box-shadow: 0 0 7px white;
    border-top: none;
    width:100%;
    height: 50%;
    position: absolute;
    top:50%;
    left:0;
    background-color: rgba(255, 255, 255, 0.9);
    transition: all 0.7s ease;
    transition: box-shadow 0.3s ease-in-out;
}
.effect{
    transform: rotateX(180deg);
    top:50%;
    background-color:rgba(255, 255, 255, 0.9);
}

.card-text{
    padding:17.5% 0;
    text-align: center;
    color: black;
    font-family: 'Quicksand','sans-serif';
    font-size: 200%;
}

.arrow .line{
    position: absolute;
    bottom: 2%;
    left:50%;
    border: none;
    width: 1px;
    height: 17%;
    background-color: white;
}

.arrow .head .right,
.arrow .head .left{
    width:10px;
    background-color: white;
    position: absolute;
    bottom:calc(2% + 0.5px);
    height: 1px;
}
.arrow .head .right{
    left: calc(50% - 1.5px);
    transform: rotateZ(-45deg);
}
.arrow .head .left{
    left: calc(50% - 8.5px);
    transform: rotateZ(45deg);
}

.paper-lower input{
    margin:auto;
    display: block;
    width:70%;
    background: none;
    text-align: center;
    font-family: 'quickSand','sans-serif';
    border: none;
    border-bottom: 1px solid rgb(51, 50, 50) ;
    margin-top: 11%;
    height: 30px;
    font-size: 20px;
    padding: 5px;
    outline: none;
    color:black;
    transition: all 0.3s;
}
.paper-lower input:focus{
    border-bottom: 1px solid black;
}
.paper-lower button{
    display: block;
    margin: 30px auto;
    padding: 10px 10px;
    width: 250px;
    border: 1px solid black;
    background-color: black;
    color: white;
    font-family: 'quickSand','sans-serif';
    font-size: 20px;
    transition: all 0.3s ease-in;

}
.paper-lower button:hover{
    background-color: rgb(109, 108, 108);
    color:black;
}

#knowMore .info{
    width:80%;
    margin:20px auto;
}
.info .img{
    display: inline-block;
    width:175px;
    height: 175px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 5px white;
}
.info .cont{
    width:80%;
    display: inline-block;
    font-size: 25px;
    font-family: 'quickSand','sans-serif';
    font-weight: 200;
    text-align: center;
    line-height: 2;
    align-items: center;
    box-sizing: border-box;
    
}
@media screen and (max-width:1100px){
    #home h1{
        margin-left:2% ;
    }
    .cranes{
        right:2%;
    }
}

@media screen and (max-width:900px){
    #home h1 span{
        font-size: 1em;
    }
}
@media screen and (max-width:700px){
    .cranes{
        display: none;
    }
    #home h1{
        margin-left:10% ;
    }
    #home h1 span{
        font-size: 1.2em;
    }
    .paper-container{
        width: 300px;
        height: 300px;
    }
    #fp-nav ul{
        display: none;
    }
}